# Import Libaries

In [2]:
import pandas as pd
import numpy as np
import sqlalchemy as sqla
import pymysql
from sqlalchemy import text
import os
import warnings

In [3]:
# ignore the warnings
warnings.filterwarnings("ignore")

# Connect to DB

In [3]:
db = sqla.create_engine('mysql+pymysql://root:123456789@34.124.177.28:3306/qf5214 test')
conn = db.connect()

# Get Data

In [4]:
query = text('select * from timeseries_daily_macro where date >= "2019-01-01"') #after 2019
fixed_income_data = pd.read_sql(query, con = conn).sort_values(by='date')

# Save DB Data

In [5]:
if not os.path.exists('../db_data/'):
    os.makedirs('../db_data/')
fixed_income_data.set_index('date').to_csv('../db_data/fixed_income.csv')

# Read DB Data

In [4]:
data = pd.read_csv('../db_data/fixed_income.csv')

# Data Analysis

In [5]:
# file_path = r'D:\NUS\5214\fixed_income.csv'
# data = pd.read_csv(file_path)
data.set_index(data.columns[0], inplace=True)

### China govment bonds YTM

In [6]:
data1 = data.iloc[:, 3:7]
data1.replace(0, np.nan, inplace=True)
data1.dropna(subset=data1.columns, how='all', inplace=True)
data1.fillna(method='ffill', inplace=True)

save_path1 = '../result/cn_gov_bond_YTM.csv'
data1.to_csv(save_path1)

### CN/US goverment bonds YTM spread (10Y-2Y)

In [7]:
data2 = data.iloc[:, [4,6,15]]
data2.replace(0, np.nan, inplace=True)
data2.dropna(subset=data2.columns, how='all', inplace=True)
data2.fillna(method='ffill', inplace=True)
data2['CN_Yield_Spread_10Y_vs_2Y'] = None
data2.iloc[:, 3] = data2.iloc[:, 1] - data2.iloc[:, 0]
data2 = data2.iloc[:, 2:]

save_path2 = '../result/CN_US_gov_bonds_YTM_spread.csv'
data2.to_csv(save_path2)

# Plot

In [8]:
%load_ext autoreload
%autoreload 2

In [9]:
from plot_line import plot_line

In [10]:
print(os.getcwd())

/Users/krystalhu/Desktop/application/code

In [11]:
bond_ytm = pd.read_csv('../result/cn_gov_bond_YTM.csv', index_col='date')
bond_ytm.index = pd.to_datetime(bond_ytm.index)
bond_ytm.columns = ['3-month YTM'] + ['{}-year YTM'.format(i) for i in [2, 5, 10]]
print(bond_ytm.index)
bond_ytm.head()

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-14', '2019-01-15',
               ...
               '2024-03-29', '2024-04-01', '2024-04-02', '2024-04-03',
               '2024-04-07', '2024-04-08', '2024-04-09', '2024-04-10',
               '2024-04-11', '2024-04-12'],
              dtype='datetime64[ns]', name='date', length=1319, freq=None)

            3-month YTM  2-year YTM  5-year YTM  10-year YTM
date
2019-01-02       2.5237      2.6167      2.9466       3.1734
2019-01-03       2.4709      2.6233      2.8965       3.1410
2019-01-04       2.3251      2.6069      2.8850       3.1513
2019-01-07       2.3409      2.5672      2.9303       3.1507
2019-01-08       2.3116      2.5222      2.8796       3.1211

In [12]:
title = 'China Government Bond YTM'
params_dict = {
    'title': title,
    'df': bond_ytm,
    'col_dict': {0: bond_ytm.columns},
    'freq': 'd'
}

plot_line(**params_dict)

In [13]:
bond_spread = pd.read_csv('../result/CN_US_gov_bonds_YTM_spread.csv', index_col='date') * 100
bond_spread.index = pd.to_datetime(bond_spread.index)
bond_spread.columns = ['US', 'CN']
print(bond_spread.index)
bond_spread.head()

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-14', '2019-01-15',
               ...
               '2024-04-02', '2024-04-03', '2024-04-04', '2024-04-05',
               '2024-04-07', '2024-04-08', '2024-04-09', '2024-04-10',
               '2024-04-11', '2024-04-12'],
              dtype='datetime64[ns]', name='date', length=1411, freq=None)

              US     CN
date
2019-01-02  16.0  55.67
2019-01-03  17.0  51.77
2019-01-04  17.0  54.44
2019-01-07  17.0  58.35
2019-01-08  15.0  59.89

In [14]:
title = 'Government Bond YTM 10Y-2Y Spread in CN and US'
params_dict = {
    'title': title,
    'df': bond_spread,
    'col_dict': {0: bond_spread.columns},
    'freq': 'd'
}

plot_line(**params_dict)